<template>
  <q-page class="">
    <q-img class="flower1" src="images/flower1.svg" />
    <q-img class="flower2" src="images/flower2.svg" />

    <q-card flat rounded class="absolute-center q-px-lg q-py-sm formCard">
      <div class="row q-ma-lg q-gutter-x-md">
        <div
          class="col-3 text-right text-bold text-subtitle2 cursor-pointer	"
          :class="tab !== 'login' ? 'notActive' : ''"
          @click="tab = 'login'"
        >
          Вход
        </div>
        <div
          class="col-7 text-left text-bold text-subtitle2 cursor-pointer	"
          :class="tab === 'login' ? 'notActive' : ''"
          @click="tab = 'register'"
        >
          Регистрация
        </div>
      </div>
      <q-input
        borderless
        v-model="email"
        label="E-mail"
        class="myInput text-h5 q-px-md q-mb-lg q-mt-xl"
      />
      <q-input
        type="password"
        borderless
        v-model="password"
        label="Пароль"
        class="myInput text-h5 q-px-md"
      />

      <div class="flex justify-center q-mt-lg">
        <q-btn
          unelevated
          rounded
          color="info"
          :label="tab === 'login' ? 'Войти' : 'Зарегистрироваться'"
          no-caps
          class="q-mt-lg q-mx-auto text-bold text-subtitle1 "
          @click="submit"
        />
      </div>
    </q-card>
  </q-page>
</template>

<script>
import { API_URL } from "../urls";
export default {
  name: "AccountPage",
  data() {
    return {
      tab: "login",
      email: "",
      password: ""
    };
  },
  methods: {
    async submit() {
      if (!this.email) return alert("Введите мейл");
      if (!this.password) return alert("Введите пароль");

      try {
        const response = await this.$axios.post(
          API_URL + "doctors/" + this.tab,
          {
            email: this.email,
            password: this.password
          }
        );
        if (response.status === 200) {
          localStorage.setItem("Authorization", response.data);
          this.$router.push("lk");
        } else {
          alert("Error ocured");
        }
      } catch (error) {
        console.error(error);
        alert("что-то пошло не так");
      }
    }
  }
};
</script>
<style scoped>
.formCard {
  width: 20rem;
  height: 23rem;
  background-color: #fcf7f0;
  border-radius: 27px;
}
.myInput {
  background-color: #fcf7f0;
  border: solid 1px #8d8278;
  border-radius: 14px;
  outline: none;
}
.myInput:hover {
  border-color: #5f5851;
}
.notActive {
  color: #988d85;
}

.flower1 {
  max-width: 300px;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(calc(-20%));
  left: 25%;
  -ms-transform: translateX(-75%);
  transform: translateX(-75%);
}
.flower2 {
  max-width: 300px;
  position: absolute;
  top: 38%;
  -ms-transform: translateY(-38%);
  transform: translateY(calc(-38%));
  left: 70%;
  -ms-transform: translateX(-30%);
  transform: translateX(-30%);
}
</style>
