<template>
  <q-page class="row">
    <div class="col-12 col-md-6 relative-position">
      <div class="centerMe">
        <h4 class="text-bold q-my-none q-mb-xs">Психологическая</h4>
        <h4 class="text-bold q-my-none q-mb-xs ">помощь</h4>
        <h4 class="text-bold q-my-none q-mb-xs text-accent">для родителей</h4>
        <q-btn
          unelevated
          rounded
          color="info"
          label="Найти помощь"
          no-caps
          class="q-ma-none q-mt-lg text-bold text-subtitle1 q-mr-sm"
        />
        <q-btn
          unelevated
          outline
          rounded
          color="info"
          label="Помочь"
          no-caps
          class="q-ma-none q-mt-lg text-bold text-subtitle1 "
          @click="clickedHelp"
        />
      </div>
    </div>
    <div class="col relative-position flex justify-end">
      <q-img class="centerMe" src="images/cat.svg" style="max-width: 375px" />
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  methods: {
    clickedHelp() {
      if (!localStorage.getItem("Authorization")) this.$router.push("login");
      else this.$router.push("lk");
    }
  }
};
</script>
<style scoped>
.centerMe {
  position: absolute;
  top: calc(50% - 64px);
  -ms-transform: translateY(-50%);
  transform: translateY(calc(-50% + 32px));
}
</style>
