<template>
  <q-page class="" style="min-height: 200px">
    <div class="pageContainer q-mt-md">
      <q-card class="bg-warning col-3 mycard q-pa-md text-center  ">
        <q-avatar size="100px" class="q-mt-md">
          <img src="images/ava.png" />
        </q-avatar>

        <h5>{{ doctor.email }}</h5>

        <q-btn
          @click="logout"
          color="info"
          outlined
          rounded
          label="Выйти"
          no-caps
        />
        <q-btn
          color="info"
          flat
          rounded
          label="Удалить аккаунт"
          no-caps
          class="q-mt-md"
        />
      </q-card>
      <q-card class="bg-warning col mycard q-pa-md">
        <h3>Текущая задача:</h3>
        <div v-if="doctor.patientID === ''" class="text-body1">
          Вы пока не взяли задачу
        </div>
        <div v-else class="task">
          <div class="text-body1">
            {{ task.task.description || "no tasks" }}
          </div>

          <q-btn
            color="info"
            outlined
            rounded
            label="Отказаться"
            no-caps
            class="q-mt-md"
            @click="abandone"
          />
        </div>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { API_URL } from "../urls";
export default {
  name: "Profile",
  data() {
    return {};
  },
  methods: {
    ...mapActions({
      fetchDoctor: "doctor/fetchDoctor",
      fetchTask: "tasks/fetchById"
    }),
    async abandone() {
      try {
        const res = await this.$axios.put(
          API_URL + "users/abort_task",
          {
            id: this.task._id
          },
          {
            headers: {
              Authorization: localStorage.getItem("Authorization")
            }
          }
        );
        this.$router.go();
      } catch (error) {
        console.error(error);
        alert("ЧТо-то пошло не так...");
      }
    },
    logout() {
      localStorage.setItem("Authorization", "");
      this.$router.push("/");
    }
  },
  computed: {
    ...mapGetters({
      doctor: "doctor/getDoctor",
      task: "tasks/getTask"
    })
  },
  async mounted() {
    await this.fetchDoctor();
    if (this.doctor.patientID !== "")
      await this.fetchTask(this.doctor.patientID);
  }
};
</script>
<style scoped>
.pageContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  position: absolute;
  top: 100%;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
.mycard {
  border-radius: 27px;
}
</style>
