<template>
  <q-page class="tasksPage" style="min-height: 100px">
    <div class="gridContainer q-mt-lg   ">
      <q-card
        flat
        class="my-card  bg-warning q-pa-md"
        v-for="task in allTasks({ page, elems })"
        :key="task._id"
      >
        <q-card-section>
          <div
            class="text-subtitle2 cursor-pointer"
            @click="
              {
                confirm = true;
                dialogTask = task;
              }
            "
          >
            {{
              task.task.description.length > 83
                ? task.task.description.slice(0, 85).trim() + "..."
                : task.task.description
            }}
          </div>
        </q-card-section>

        <q-btn
          rounded
          class="takeTask text-caption bg-info text-primary"
          label="взять задание"
          no-caps
          @click="takeTask(task._id)"
        />
      </q-card>
    </div>

    <div class="pages q-mx-auto q-mt-sm q-mb-none text-center">
      <q-btn
        flat
        rounded
        color="info"
        label="<"
        @click="page > 1 ? page-- : (page = 1)"
      />
      <q-btn
        flat
        rounded
        color="info"
        label=">"
        @click="
          page < allTasksSize / elems ? page++ : (page = allTasksSize / elems)
        "
      />
    </div>
    <q-dialog v-model="confirm" persistent>
      <q-card class="bg-warning q-pa-md dialogCard">
        <q-card-section class="row items-center">
          <span class="q-ml-sm">{{ dialogTask.task.description }}.</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Закрыть" color="info" v-close-popup no-caps />
          <q-btn
            flat
            label="Взять задание"
            color="info"
            v-close-popup
            no-caps
            @click="takeTask(dialogTask._id)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { API_URL } from "../urls";
export default {
  name: "PageIndex",
  data() {
    return {
      page: 1,
      elems: 6,
      dialogTask: {
        task: {
          description: "no"
        },
        _id: "afddsf"
      },
      confirm: false
    };
  },
  computed: {
    ...mapGetters({
      allTasks: "tasks/allTasks",
      allTasksSize: "tasks/allTasksSize"
    })
  },
  methods: {
    ...mapActions({
      fetchAllTasks: "tasks/fetchAll"
    }),
    async takeTask(id) {
      try {
        const res = await this.$axios.put(
          API_URL + "users/take_task",
          {
            id: id
          },
          {
            headers: {
              Authorization: localStorage.getItem("Authorization")
            }
          }
        );
        console.log(res.status);
      } catch (error) {
        console.error(error);
        alert("Вы уже взяли задачу");
      }
    }
  },
  async mounted() {
    await this.fetchAllTasks();
  }
};
</script>
<style scoped>
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.my-card {
  height: 13rem;
  border-radius: 27px;
  position: relative;
}
.takeTask {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.dialogCard {
  border-radius: 27px;
}
</style>
