<template>
  <q-layout
    view="hHh lpR fFf"
    style="max-width: 800px; min-width: 800px"
    class="q-mx-auto bg-primary text-secondary"
  >
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "EmptyLayout",
  data() {
    return {};
  }
};
</script>
