<template>
  <q-layout
    view="hHh lpR fFf"
    style="max-width: 800px; min-width: 800px"
    class="q-mx-auto bg-primary text-secondary"
  >
    <q-header
      class="bg-primary text-secondary q-mx-auto row justify-between q-pt-sm"
      style="max-width: 800px"
    >
      <div class="col text-h6 text-info text-weight-bolder">
        <router-link to="/"> Доктор<br />Кот </router-link>
      </div>
      <div class="col-4 text-right">
        <div class="row text-bold">
          <div class="col q-mt-md">О нас</div>
          <!-- <div class="col q-mt-md">Психологи</div> -->
          <div class="col q-mt-md">Вопросы</div>
          <div class="col q-mt-md">
            <router-link to="/lk/profile">
              Профиль
            </router-link>
          </div>
          <!-- <div class="col q-mt-sm">
            <q-btn
              unelevated
              rounded
              color="info"
              label="Вход"
              no-caps
              class="q-ma-0"
            />
          </div> -->
        </div>
      </div>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'
export default {
  name: "MainLayout",
  // components: { EssentialLink },
  data() {
    return {};
  }
};
</script>
<style>
a {
  text-decoration: none;
  color: unset;
  outline: none;
}
</style>
