<template>
  <q-layout
    view="hHh lpR fFf"
    style="max-width: 800px; min-width: 800px"
    class="q-mx-auto bg-primary text-secondary"
  >
    <q-header
      class="bg-primary text-info text-h5 text-bold q-mx-auto row justify-center q-pt-sm"
    >
      <router-link to="/">
        Доктор Кот
      </router-link>
    </q-header>

    <q-footer
      class="bg-warning text-secondary q-mx-auto bottomcont"
      style="max-width: 800px"
    >
      <q-tabs no-caps active-color="info" indicator-color="info">
        <q-route-tab
          class="text-bold text-h3"
          to="/lk/profile"
          name="profile"
          label="Профиль"
        />
        <q-route-tab
          class="text-bold text-h3"
          to="/lk"
          name="tasks"
          label="Вопросы"
        />
        <q-route-tab
          class="text-bold text-h3"
          to="/lk/help"
          name="help"
          label="Справка"
        />
      </q-tabs>
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'
export default {
  name: "ProfileLayout",
  // components: { EssentialLink },
  data() {
    return {};
  }
};
</script>
<style scoped>
a {
  text-decoration: none;
  color: unset;
  outline: none;
}
.bottomcont {
  border-radius: 27px 27px 0 0;
}
</style>
