<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: "App"
};
</script>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  background-color: $primary;
  color: $secondary;
  font-family: "Montserrat", sans-serif;
}
</style>
